
* {
	margin: 0px;
	padding: 0px;
}
.layout-wrapper .topbar .topbar-menu {
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
	-moz-transition: right 0.3s;
	-o-transition: right 0.3s;
	-webkit-transition: right 0.3s;
	transition: right 0.3s;
}
.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
	float: left;
	box-sizing: border-box;
	padding: 0.5em;
}
.ui-g-12 {
	width: 100%;
}
body .ui-g-1, body .ui-g-2, body .ui-g-3, body .ui-g-4, body .ui-g-5, body .ui-g-6, body .ui-g-7, body .ui-g-8, body .ui-g-9, body .ui-g-10, body .ui-g-11, body .ui-g-12 {
	padding: 0.65em;
}
.row {
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.row::after {
	display: table;
	content: " ";
}
.row::after {
	clear: both;
}
.layout-wrapper .topbar {
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
	background-color: #fff;
	height: 90px;
	box-sizing: border-box;
	z-index: 110;
	border-bottom: 1px solid #eaeaea;
}
html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0 5px;
}
body {
	font-family: "Open Sans", "Roboto", "Helvetica Neue", sans-serif;
	font-size: 16px;
	color: #7b7b7b;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	background-color: #ffffff;
}
html {
	height: 100%;
}
html, body {
	font-family: Arial, Helvetica, Sans-serif;
	color: #363636;
}
.layout-wrapper .topbar .topbar-menu li {
	float: left;
	position: relative;
	margin-left: 40px;
	line-height: 50px;
}
.layout-wrapper .topbar .topbar-menu li.mar-small {
	margin-left: 10px;
}
body a {
	color: #00b6cb;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
body a {
	text-decoration: none;
}
.z-a {
	font-family: arial, sans-serif;
	font-size: 12px;
}
body .ui-corner-all {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
body .ui-button {
	overflow: hidden;
	background-color: #00B6CB;
	color: #ffffff;
	height: 36px;
	margin-right: 0px;
	padding: 0 14px;
	border: 0 none;
	text-transform: uppercase;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
a:link {
	font-size: 10px;
	color: #000088;
	line-height: 12px;
	font-family: Verdana, arial, helvetica, sans-serif;
	text-decoration: none;
}
a:visited {
	font-size: 10px;
	color: #000088;
	line-height: 12px;
	font-family: Verdana, arial, helvetica, sans-serif;
	text-decoration: none;
}
.layout-wrapper .topbar .topbar-menu li > a {
	position: relative;
	display: block;
	font-size: 14px;
	color: #464646;
	text-transform: uppercase;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
body .gray-btn.ui-button {
	background-color: #9B9B9B;
}
.layout-wrapper .topbar .topbar-menu li .ui-button {
	height: 50px;
}
.layout-wrapper .topbar .topbar-menu a:link {
	line-height: 50px;
	text-decoration: none;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../resources/barcelona-layout/fonts/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../resources/barcelona-layout/fonts/MaterialIcons-Regular.woff2") format("woff2"), url("../resources/barcelona-layout/fonts/MaterialIcons-Regular.woff") format("woff"), url("../resources/barcelona-layout/fonts/MaterialIcons-Regular.ttf") format("truetype");
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body .ui-icon {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	text-indent: 0px;
	overflow: visible;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga" 1;
}

.fa-sign-out::before {
	content: "\f08b";
}

body .ui-button .ui-icon {
	color: #ffffff;
}
.z-label, .z-radio-cnt, .z-checkbox-cnt, .z-loading {
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

body a.c-hamburger {
	display : none ;
}
/*
 *		Footer
 */

.layout-wrapper .footer {
	padding: 60px 0 30px;
}
.row {
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.row::after {
	display: table;
	content: " ";
}
.row::after {
	clear: both;
}
.ui-g {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.ui-g {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.ui-g::after {
	clear: both;
	content: "";
	display: table;
}
.ui-g::after {
	clear: both;
	content: "";
	display: table;
}
.ui-center {
	float: none;
	clear: both;
	margin: 0 auto;
}
.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
	float: left;
	box-sizing: border-box;
	padding: 0.5em;
}
.ui-g-12 {
	width: 100%;
}
/* @media screen and (min-width:64.06em) */
.ui-lg-1, .ui-lg-2, .ui-lg-3, .ui-lg-4, .ui-lg-5, .ui-lg-6, .ui-lg-7, .ui-lg-8, .ui-lg-9, .ui-lg-10, .ui-lg-11, .ui-lg-12 {
	padding: 0.5em;
}
/* @media screen and (min-width:64.06em) */
.ui-lg-4 {
	width: 33.33%;
}
/* @media screen and (min-width:64.06em) */
.ui-lg-8 {
	width: 66.66%;
}
/* @media screen and (min-width:40.06em) */
.ui-md-10 {
	width: 83.33%;
}
body .ui-g-1, body .ui-g-2, body .ui-g-3, body .ui-g-4, body .ui-g-5, body .ui-g-6, body .ui-g-7, body .ui-g-8, body .ui-g-9, body .ui-g-10, body .ui-g-11, body .ui-g-12 {
	padding: 0.65em;
}
/* @media screen and (min-width:64.06em) */
body .ui-lg-1, body .ui-lg-2, body .ui-lg-3, body .ui-lg-4, body .ui-lg-5, body .ui-lg-6, body .ui-lg-7, body .ui-lg-8, body .ui-lg-9, body .ui-lg-10, body .ui-lg-11, body .ui-lg-12 {
	padding: 0.65em;
}
.text-center {
	text-align: center;
}
/* @media screen and (min-width:40.06em) */
.ui-md-1, .ui-md-2, .ui-md-3, .ui-md-4, .ui-md-5, .ui-md-6, .ui-md-7, .ui-md-8, .ui-md-9, .ui-md-10, .ui-md-11, .ui-md-12 {
	padding: 0.5em;
}
/* @media screen and (min-width:40.06em) */
body .ui-md-1, body .ui-md-2, body .ui-md-3, body .ui-md-4, body .ui-md-5, body .ui-md-6, body .ui-md-7, body .ui-md-8, body .ui-md-9, body .ui-md-10, body .ui-md-11, body .ui-md-12 {
	padding: 0.65em;
}
.layout-wrapper .footer .footer-content > div.pad-top {
	padding-top: 40px;
}
p {
	line-height: 24px;
}
.layout-wrapper .footer p {
	font-size: 14px;
	color: #979797;
}
.layout-wrapper .footer span {
	vertical-align: middle;
}
body a {
	color: #00b6cb;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
body a {
	text-decoration: none;
}
.z-a {
	font-family: arial, sans-serif;
	font-size: 12px;
}
a:link {
	font-size: 10px;
	color: #000088;
	line-height: 12px;
	font-family: Verdana, arial, helvetica, sans-serif;
	text-decoration: none;
}
.layout-wrapper .footer p a {
	color: #979797;
}
.layout-wrapper .footer .footer-nav {
	float: right;
	margin: 0;
	padding: 10px 0 0;
	width: 100%;
	text-align: right;
}
.layout-wrapper .footer .footer-nav li {
	display: inline-block;
	margin: 0 0 0 40px;
}
a:visited {
	font-size: 10px;
	color: #000088;
	line-height: 12px;
	font-family: Verdana, arial, helvetica, sans-serif;
	text-decoration: none;
}
.layout-wrapper .footer .footer-nav a {
	font-size: 14px;
	font-weight: bold;
	color: #f8f8f8;
	text-transform: uppercase;
	text-decoration: none;
}
.layout-wrapper .footer .social-links a {
	width: 41px;
	height: 41px;
	line-height: 41px;
	font-size: 20px;
	margin-right: 24px;
	display: inline-block;
	color: #f8f8f8;
	border-radius: 100%;
	border: 1px solid #979797;
	text-align: center;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body .fa {
	font-family: "FontAwesome";
}
.fa-linkedin::before {
	content: "\f0e1";
}
.fa-twitter::before {
	content: "\f099";
}
.fa-facebook-f::before, .fa-facebook::before {
	content: "\f09a";
}
 