@charset "utf-8";
		    		
@import url('/pro/css/MyFontsWebfontsKit.css');

	.ui-outputlabel-rfi
	{
		color: red;
	}

	body .ui-widget 
	{
		font-family: Verdana, Sans-serif, Arial, Helvetica;
	}

	.ui-widget-header
	{
		background-color : rgb(0,153,204);
		background-image : none;
		color : white ;
		border-color : rgb(0,153,204);
		font-weight: normal;
		text-shadow: none;
	}

	.FreightSans-Black
	{ 
		font-family: "FreightSans-Black";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-BlackItalic 
	{ 
		font-family: "FreightSans-BlackItalic";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-BlackItalicSC
	{ 
		font-family: "FreightSans-BlackItalicSC";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-BlackSC
	{ 
		font-family: "FreightSans-BlackSC";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-Bold 
	{
		font-family: "FreightSans-Bold";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-BoldItalic
	{
		font-family: "FreightSans-BoldItalic";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-BoldItalicSC
	{
		font-family: "FreightSans-BoldItalicSC";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-BoldSC
	{
		font-family: "FreightSans-BoldSC";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-Book
	{
		font-family: "FreightSans-Book";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-BookItalic
	{
		font-family: "FreightSans-BookItalic";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-BookItalicSC
	{
		font-family: "FreightSans-BookItalicSC";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-BookSC
	{
		font-family: "FreightSans-BookSC";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-Light
	{
		font-family: "FreightSans-Light";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-LightItalic
	{
		font-family: "FreightSans-LightItalic";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-LightItalicSC
	{
		font-family: "FreightSans-LightItalicSC";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-LightSC
	{
		font-family: "FreightSans-LightSC";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-Medium
	{
		font-family: "FreightSans-Medium";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-MediumItalic
	{
		font-family: "FreightSans-MediumItalic";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-MediumItalicSC
	{
		font-family: "FreightSans-MediumItalicSC";
		font-weight: normal;
		font-style: normal;
	}
	
	.FreightSans-MediumSC
	{
		font-family: "FreightSans-MediumSC";
		font-weight: normal;
		font-style: normal;
	}

	body
	{ 
		margin: 0;
		padding: 0;
		font-size: 12px; 
		background-color: white;
	}


	html
	{
		padding: 0;
		margin: 0;
	}

	@media screen and (max-width : 750px) /* Only phones */
	{
		html
		{
			overflow-x: hidden
		}
	}

	a img 
	{
		border: 0px;
	}

	/* main */
	.main {width:100%; padding:0; margin:0 auto; }

	.instructions
	{
	    font-weight:bold ;
	}

    .instructions p 
    { 
    	margin: 12px 0px;
    }

    .groupHeader
    { 
    	font-size: 12px; 
    	font-weight: bold;
    }
	
	.largeInstructions
	{
	    font-weight:bold ;
	    font-size:14px
	}

	
	.padding0
	{
	    padding : 0px !important ;
	}

	.padding5px
	{
	    padding : 5px
	}
	
	.padding10px
	{
	    padding : 10px
	}

	.padding1-1
	{
		padding: 1px 1px !important ;
	}
	
	.padding5-0
	{
		padding : 5px 0px !important ;
	}
	
	.padding20px
	{
	    padding : 20px
	}
	
	.paddingSides5px
	{
		padding: 0px 5px
	}
	
	.paddingTop10px
	{
		padding-top: 10px !important;
	}
	
	.paddingNone
	{
	    padding : 0px
	}
	
	.headerText12
	{
		font-family: "Times New Roman", Times, serif;
		font-size: 12pt
	}

	.headerText10
	{
		font-family: "Times New Roman", Times, serif;
		font-size: 10pt
	}
	
	.headerText8
	{
		font-family: "Times New Roman", Times, serif;
		font-size: 8pt
	}
	
	.headerText14
	{
		font-family: "Times New Roman", Times, serif;
		font-size: 14pt
	}
	
	.headerText16
	{
		font-family: "Times New Roman", Times, serif;
		font-size: 16pt
	}
	
	.headerText20
	{
		font-family: "Times New Roman", Times, serif;
		font-size: 20pt
	}
	
	.formFont12Pt
	{ 
		font-size: 12pt;
	}
	
	.formFont14Pt
	{
		font-size: 14pt;
	}
	
	.formFont12Px
	{ 
		font-size: 12px;
	}
	
	.formFont14Px
	{
		font-size: 14px;
	}
			
	.bold {
		font-weight: bold
	}
	
	.italics {
		font-style: italic
	}
	
	.inlineBlock {
		display: inline-block
	}
	
	.lineHalfPixelBlack {
		border: 0.5px solid #000;
		height: 0.5px;
		display: block
	}
	
	.lineOnePixelBlack {
		border: 1px solid #000
	}
	
	.lineTwoPixelBlack {
		border: 2px solid #000
	}

	.errorMessage {
	    color: red;
	    font-size:12px
	}

	.centered {
	    display: block;
	    margin-left:auto;
	    margin-right:auto;
	}

	/********** header **********/
	.header, .header-r
	{ 
		background:#ffffff;
		border-bottom: 5px solid #fff;
	}

	@media all
	{
		.block_header
		{
			margin: 0 auto 0px auto; 
/* 			width: 980px; */ 
		}

		.resize 
		{ 
			width: initial; 
			margin: 0 15px;
		}
		
		.leftNav
		{
			margin-top: 15px; 
			margin-bottom: 5px; 
			text-align: center;
		}
	}

	@media all and (max-width : 384px) 
	{
		.block_header
		{
			margin: 0 0 0 5px; 
			width: 384px; 
		}

		.resize 
		{ 
			width: initial; 
			margin: 5px 5px 0 5px;
		}
	}

	@media all and (max-width : 320px) 
	{
		.block_header
		{
			margin: 0 0 0 5px; 
			width: 320px; 
		}

		.resize 
		{ 
			width: initial; 
			margin: 5px 5px 0 5px;
		}
		
		.leftNav
		{
			margin-top: 2px; 
			margin-bottom: 5px; 
		}
	}


	/* logo */
	.logo { float:left; padding:0; margin:0; width: 200px; }
	.rss { float:right; width:220px; margin:0; padding:55px 0 0 0;}
	.rss p { font:normal 11px Arial, Helvetica, sans-serif; color:#003366;  padding:3px 0 0 0; margin:0;}
	.rss img { float:right; margin:3px; padding:0;}
	
	.rss2 { float:right; margin:0; padding:43px 0px 0px 0px;}
	.rss2_nav { list-style:none; margin:0; padding:0; text-align:left;}
	.rss2 nav li { display:inline;}
	.rss2 nav a { display:inline-block; padding:2px;}
	
	.rss2 ul li { float:left; padding:5px; display: table; height: 22px;}
	
	.rss2 ul li a { padding:0px 10px; margin:0; color:#003366; font:12px Verdana, sans-serif; text-decoration:none;}


/**********   **********/
	.ABC 
	{
		background: #0099CC;
		border-bottom: 2px solid #02698b;
	}
	
	.ABC p 
	{
		font: normal 17px Verdana, sans-serif;
		color: #ffffff;
		line-height: 1.0em;
	}
	
	.ABC_resize 
	{
		widthx: 100%;
		margin: 2px auto;
		padding: 0;
	}

	@media all
	{
		.abc_box
		{
			color: white;
			font-family: Verdana, sans-serif;
			width: 100%; 
			float: left; 
			margin: 2px 2px; 
			padding: 2px 2px;
		}
	}
	
	@media all and (max-width : 320px) 
	{
		.abc_box
		{
			width: 90%; 
			float: initial; 
			margin: 0 auto; 
			padding: 0;
/* 			border: 1px solid red; */
		}
	}

	/********** block index **********/
	.body
	{
		background: #ffffff;
		border: 0;
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
		font-family: Verdana, Arial;
	}

	.body h2
	{ 
		font-weight: normal;
		font-size: 20px;
		font-family:  "FreightSans-Medium", "sans-serif"; 
		color: #003366; 
		line-height: 1.0em;
	}

	@media all and (max-width : 320px) 
	{
		.body h2
		{ 
			font-size: .95em;
		}
	}

	.body p 
	{ 
		font: normal 12px Verdana, sans-serif; 
		color: #333333; 
		line-height: 1;
	}

	.body .paragraphText
	{ 
		font: normal 12px Verdana, sans-serif; 
		color: #333333; 
		line-height: 1.8em;
		margin: 0;
	}

	.body_resize
	{ 
		width: 100%; 
		margin: 0px auto; 
		padding: 0;
		/*border: 1px solid navy;*/
	}

	.grayBG
	{ 
		background-color: #F5F2F2;
	}

	.whiteBG
	{ 
		background-color: #FFFFFF;
	}

	.redborder
	{
		border: 3px dotted red !important;
	}

	.greenborder
	{
		border: 1px double green !important;
	}

	.blueborder
	{
		border: 1px dashed blue !important;
	}

	.yellowborder
	{
		border: 1px dashed yellow !important;
	}

.body_DEF { float:left; padding:0px; margin:0;}


/********** welcome **********/
.Welcome { width:605px; border:1px solid #fff; background:#fff; margin:5px auto; padding:10px 20px; float:left;}
.Welcome ul { list-style:disc; margin:10px 0px 20px 5px; padding:10px;}
.Welcome li { font:normal 11px Arial, Helvetica, sans-serif; color:#333333; line-height:1.8em;}
.Welcome li strong { color:#333333; font:bold 11px Arial, Helvetica, sans-serif; line-height:1.8em;}
.Welcome table { font-size: 12px; font-family: Verdana, sans-serif; border-collapse: collapse; width: 600px; margin: 0 auto; margin-top: 7px;}
.Welcome td, th { padding-left: 10px; padding-top: 10px; padding-bottom: 10px; text-align: left;}
.Welcome tableheader { font-size: 14px; font-family: Helvetica, Arial, sans-serif; font-weight: bold;}
.Welcome a { font-size: 12px; font-family: Helvetica, Arial, sans-serif; color:#6699CC;}

.welcome_RST { width:560px; background:#0099CC; margin:5px auto; padding:10px 20px; float:left;}

.simple_text { margin: 0 auto; padding:0; background-color: #003366; border: 0px solid #ffffff;}
.simple_text_resize { width:980px; margin:2px auto; padding:0; }
.simple_text_box { width:100%; float:left; margin:2px 2px; padding:2px 2px;}
.simple_text h2 { font:normal 28px Arial, Helvetica, sans-serif; color:#fff; padding:5px 30px; margin:0;}


	/*Box*/
	.Box { width:280px;  border:1px solid #fff; background:#fff; margin: 5px auto; padding:10px 20px; float: right;}
	.Box span { font:bold 12px Verdana, sans-serif; color:#959595;}
	.R_Column { width:280px; border:1px solid #fff; background:#fff; margin: 5px auto; padding:10px 20px; float: right;}
	
	.recruitingCenterBox
	{
	    width: 280px;
	    border: 1px solid #D5D5D5;
	    margin: 5px auto;
	    padding: 10px 20px;
	    float: right;
	    background: none repeat scroll 0% 0% #F5F2F2;
	}


	.brandBlueBG
	{
		background: #003366;
	}

	.brandLightBlueBG
	{
		background: #0099cc;
	}

	.whiteText
	{
		color: white;
	}

	.transparentBlocker
	{
		background-image: none !important;
		background-color: white !important;
		opacity: 0.0 !important ;
	}

	/********** divider **********/

	@media all
	{
  		#contactUsGrid, #contactUsGrid .ui-panelgrid-content, #contactUsGrid .ui-grid-row, #contactUsGrid .ui-panelgrid-cell
  		{
  			display: inline !important;
  		}
				
		.contactUsGrid
		{
			margin-left: 20px;
			display: inline; 
			margin: 0; 
		}
		
		.contactUsGridText
		{
			width: 125px; 
			marginx: 5px;
			display: inline; 
			padding: 10px 15px 10px 15px !important;
		}
		
		.contactUsGridIcon
		{
			width: 45px;
			display: inline; 
			padding: 10px 15px 10px 15px !important;
		}

		.map 
		{ 
			width:320px;  
			border:1px solid #d5d5d5; 
			background:#eeeeee; 
			margin: 5px auto; 
			padding:5px 5px; 
			floatx: right;
		}
		
		.wlGmap
		{
			width: 400px; 
			height: 400px;
		}
		
		.rcGmap
		{
			width: 320px; 
			height: 400px;
		}
	
		.FBG
		{ 
			border-top: 8px solid #fff; 
			background: #003366; 
			border-bottom: 2px solid #3bc866;
		}
		
		.FBG span 
		{ 
			font: normal 1em Verdana, sans-serif; 
			color: #ffffff; 
			line-height: 1.8em;
		}
		
		.FBG_resize
		{
			widthx: 90%; 
			margin: 5px; 
			paddingx:0; 
			border: 0px solid green;
		}
		
		.fbg_box
		{ 
			margin: 2px 2px; 
			padding: 15px 2px; 
			border: 0px solid red;
		}
		
		.welcomeText
		{ 
			font-size: 12px; 
			font-family: Verdana, sans-serif;
			float: left; 
			margin: 3px 0 3px 15px; 
		}
		
	}
		
	@media all and (max-width : 960px) 
	{
		.FBG span 
		{ 
			font: normal .9em Verdana, sans-serif; 
		}
	}
	
	@media all and (max-width : 384px) 
	{
		.wlGmap
		{
			width: 320px; 
			height: 400px;
		}
	}
	
	@media all and (max-width : 320px) 
	{
		.map 
		{ 
			width: 290px;  
			border:1px solid #d5d5d5; 
			background:#eeeeee; 
			margin: 5px auto; 
			padding:5px 5px; 
			floatx: right;
		}
		
		.wlGmap
		{
			width: 275px; 
			height: 400px;
		}
		
		.rcGmap
		{
			width: 285px; 
			height: 400px;
		}
	
		.FBG span 
		{ 
			line-height: initial;
		}
		
		.welcomeText
		{ 
			margin: 8px; 
		}
	}


/********** footer **********/
	.footer
	{
		background: #333132;
		padding: 10px 0;
		border-top: 1px solid #7a7a7a;
	}
	
	.footer_resize 
	{
		float: left;
		width: 100%;
	}
	
	.footer .resize p 
	{
		font: normal 12
		px Verdana, sans-serif;
		color: #CCCCCC;
		line-height: 1.8em;
	}
	
	.footer .resize div a 
	{
		color: #CCCCCC;
		font: normal 12px Verdana, sans-serif;
		padding: 0px 5px;
		text-decoration: none;
	}
	
	.footer .resize div a:hover 
	{
		text-decoration: underline;
	}
		    		
	.disabledComponent
	{
		opacity: 1 !important; 
		filter: none !important ;
		color : black !important ;
		background-color : lightgray important;
	}

	@media all and (max-width : 320px) 
	{
	
		.footer .resize p 
		{
			font: normal 12px Verdana, sans-serif;
			color: #CCCCCC;
			line-height: 1.2em;
		}
	}

	li.bg, .bg { clear:both; border-top:1px dashed #d2d2d2; padding:5px 10px; margin:0; background:none;}
	p.clr, .clr, li.clr { clear:both; padding:0; margin:0; background:none;}

/*   
	Added by Cary  
*/
	.leftcontent
	{ 
		width: 250px; 
		border: 0px solid #FF0000; 
		background: #ffffff; 
		margin: 0px auto; 
		padding: 10px 20px; 
		float: left;
	}

	@media all
	{
		.leftcolumn 
		{ 
			padding-right: 5px; 
		}
	
		.middlecolumn
		{ 
			width: 610px; 
/* 			border: 0px solid #FF0000; */ 
/* 			background: #ffffff; */ 
 			margin: 0px auto;
/* 			padding: 10px 20px 10px 0px; */ 
/* 			floatXXX: left; */

			displayx: block;
		}
	
		.rightcolumn
		{ 
 			min-widthx: 310px; 
/* 			border:0px solid #FF0000; */ 
/* 			background:#ffffff; */ 
/*			margin-left: .5%; */
			padding-left: 5px; 
			/*font: Verdana;*/
			/*font-size: .75em;*/
			floatx: right;
			displayx: block;
		}
	
		.rightcolumn2
		{ 
			width: 340px;
			height: 100%; 
			border: 0px solid #FF0000; 
			/*background: #ffffff;*/ 
			margin-top: 0px; 
			padding: 0px 3px 10px 3px; 
			float: left;
		    /*background: none repeat scroll 0% 0% #F5F2F2;*/		/*font: Verdana;*/
			/*font-size: .75em;*/
		}
		
		.lesserIEpadding
		{
			display: block;
		}
		
		.postalCodeGridLeftCol
		{
			margin-right:5px
/* 			border: 1px solid yellow !important; */
		}
		
		.postalCodeGridRightCol
		{
/* 			border: 1px solid orange !important; */
		}
		
		.zipCodeLeftCol
		{
/* 			border: 1px solid white !important; */
		}
		
		.zipCodeRightCol
		{
/* 			border: 1px solid black !important; */
		}
		
		.distanceLeftCol
		{
/* 			border: 1px solid white !important; */
			padding: 4px 10px 4px 10px !important;
			margin-right: 15px;
		}
		
		.distanceRightCol
		{
/* 			border: 1px solid black !important; */
		}
		
		.interviewOptionalCol
		{
			display: table-cell ;
		}
	}

	.marginright15
	{
		margin-right: 15px !important;
	}

	@media all and (max-width : 1250px) 
	{
		.lesserIEpadding
		{
			display: none;
		}
	}

	@media all and (max-width : 500px) 
	{
		.middlecolumn 
		{ 
 			width: 610px;
/* 			border: 0px solid #FF0000; */ 
/* 			background: #ffffff; */ 
 			margin: 0px auto;
			padding: 1px; 
		}
	
		.rightcolumn
		{ 
/* 			widthXXX: 310px; */ 
/* 			border:0px solid #FF0000; */ 
/* 			background:#ffffff; */ 
			margin: 0px auto;*
/*			margin-left: 0;*/ 
			padding:10px 20px; 
			clear: both;
			/*font: Verdana;*/
			/*font-size: .75em;*/
		}
	
		.rightcolumn2
		{ 
			width: 100%;
			height: 100%; 
			border: 0px solid #FF0000; 
			/*background: #ffffff;*/ 
			margin-top: 0px; 
			padding: 0px 3px 10px 3px; 
			float: left;
		    /*background: none repeat scroll 0% 0% #F5F2F2;*/		/*font: Verdana;*/
			/*font-size: .75em;*/
		}
	}

	@media all and (max-width : 320px) 
	{
		.distanceLeftCol
		{
			padding: 4px 5px 4px 0px !important;
		}
		
		.interviewOptionalCol
		{
			display: none ;
		}
	}

	.rightcontent
	{ 
		font-family: Verdana;
		font-size: .9em;
	}
					
	.lighterGreenBackground
	{
		background-color: #3bc866 !important;
	}
	
	.darkerGreenBackground
	{
		background-color: #2dbc59 !important;
	}
		
	.lightGrayBackground
	{
		background-color: #fafafa;
	}
	
	.roundLeftCorners
	{
		-moz-border-radius: 3px 0px 0px 3px;
		-webkit-border-radius: 3px 0px 0px 3px;
		border-radius: 3px 0px 0px 3px;
	}
	
	.roundRightCorners
	{
		-moz-border-radius: 0px 3px 3px 0px;
		-webkit-border-radius: 0px 3px 3px 0px;
		border-radius: 0px 3px 3px 0px;
	}
	
	.roundCorners
	{
		-moz-border-radius: 3px 0px 0px 3px;
		-webkit-border-radius: 3px 0px 0px 3px;
		border-radius: 3px;
	}
	
	.logoContainer
	{
	    width: 100%;
	    background-color: white;
	}

	.clientLogo
	{
	    margin: 0px auto;
	    display: block;
	}

	.noBorder, .noBorder tr, .noBorder tr td.ui-panelgrid-cell
	{
    	border:solid 0px transparent;
	}
	
	.ui-button-text-only .ui-button-text
	{
		padding-left: 1px;
		padding-right:1px;
	}

	.ui-steps .ui-steps-item.ui-state-default-tb .ui-menuitem-link
	{
	    cursor: default;
	}
	
	.noMargin
	{
	    margin: 0px;
	}
	
	.noPadding
	{
	    padding: 0px !important;
	}
	    
    #searchForm\:instructionGrid_content
    {
    	padding: 0px;
    	background: transparent !important;
    }

	.loginButtonGrid
	{
		min-width: 120px;
		text-align: center; 
	}

	.loginButtonGridRow
	{
		width: 100%; 
		background-color: transparent;
		border-color: transparent;
	}
	
	.loginButtonGridText
	{
		marginx: 5px; 
		padding: 10px 15px 10px 15px !important;
		color: white;
	}
	
	.loginButtonGridIcon
	{
		width: 25px; 
		padding: 1px 0 0 10px !important;
	}

	.loginButtonGridRight
	{
		padding-right: 5px; 
		color: #fff; 
		font-size: 1.3em;
	}
	
	.loginButtonGridLeft
	{
		padding-right: 10px; 
		color: #fff; 
		font-size: 1.3em;
	}

	div[id*='mediaSelector']::after
	{
		display:none
	}

/** Responsive **/
	@media all
	{
		div[id*='mediaSelector']::after
		{ 
			content: "default"
		}
	    
	    .ui-grid-row-display
	    {
	    	display: initial;
	    }
		
		.textAlignWideRight
		{ 
			text-align: right;
		}

		.statusLoadingImage
		{
			width: 220px;
		}

		.menuItem
		{
			margin-top: 3px !important;
/* 			border: 1px solid olive !important; */
		}
		
		.menuLink
		{
			font-size: .7em !important;
			text-decoration: none;
			padding-left: 0px !important;
		}

		.socialMenuLine
		{
			margin-top: 3px;
		}

		.header, .wideOnly
		{
			display: block;
		}

		.headerIB, .wideOnlyIB
		{
			display: inline-block;
		}
	    
	    .header-r, .narrowOnly
	    {
	        display: block;
	    }

		.banner
		{
			display: block;
		}
		
		.banner2Text
		{
			position: absolute; 
			right: 2px; 
			top: 0px;
			width: 80%; 
			font-size: 20px; 
			max-width: 850px; 
			text-align: right; 
			color: red; 
			border: 0px solid red; 
			display: inline-block ;
		}
	    
		.headerMenuBtn
		{
		    display:none;
		}

	    .responsiveMenu
	    {
	        display: none ;
	    }

	    .instructionGrid
	    {
/* 	    	width: 60%; */ 
/* 	    	margin-left: 20%; */ 
	    	margin-right: auto; 
	    	border: transparent; 
	    	background: transparent;
	    }

		.listboxMax
		{
	        width: auto ;
	    }

		.listboxMax2
		{
	        width: 310px ;
	    }

  		.passwordField
 		{
 			width: 175px;
 		}
	}
	
	@media all and (max-width : 960px) 
	{
		div[id*='mediaSelector']::after
		{ 
			content: "max-width 960px"
		}
		
		.banner2Text
		{
			position: absolute; 
			right: 2px; 
			top: 0px;
			font-size: .8em; 
			text-align: right;
			color: red; 
			border: 0px solid cyan; 
			display: inline-block ;
		}

		.textAlignWideRight
		{ 
			text-align: right;
		}
	}
	
	@media all and (max-width : 826px) 
	{ /* When screen width is narrower than logo + menubar, use popup menu */
		div[id*='mediaSelector']::after
		{ 
			content: "max-width 826px"
		}

	    .rss2 { display:none }
	    
		.header, .wideOnly
		{
			display: none;
		}

	    .header-r, .narrowOnly
	    {
	        display: block;
	    }
	    
		.headerMenuBtn
		{
		    position: absolute; 
		    right: 10px; 
		    top: 5px;
		    display:block
		}

	    .responsiveMenu
	    {
	    	width: 185px;
	    	background: none;
	    	background-color: white;
	        display: block;
	    }
	    
	}

	@media all and (max-width : 720px) and (max-height : 1280px)
	{
		div[id*='mediaSelector']::after
		{ 
			content: "720 x 1280"
		}

		.header, .wideOnly
		{
			display: none;
		}

		.headerIB, .wideOnlyIB
		{
			display: none;
		}
	    
	    .header-r, .narrowOnly
	    {
	        display: block;
	    }
	    
		.headerMenuBtn
		{
		    position: absolute; 
		    right: 10px; 
		    top: 5px;
		    display:block
		}

	    .responsiveMenu
	    {
	    	width: 185px;
	    	background-color: white;
	        display: block;
	    }
	    
	    .ui-grid-row-display
	    {
	    	display: block !important;
	    }
	    
	    .middlecolumn
	    {
	    	width: 100%;
	    	display: block;
	    	float: none;
	    }

	    .rightcolumn
	    {
	    	width: 40%;
	    	display: block;
	    	float: none;
	    }

	}
	
	@media all and (max-width : 500px) 
	{
		div[id*='mediaSelector']::after
		{ 
			content: "max-width 500px w/o 'only screen'"
		}
	}
	
	@media all and (max-width : 500px) 
	{
		div[id*='mediaSelector']::after
		{ 
			content: "max-width 500px"
		}
		
		.banner2Text
		{
			position: absolute; 
			right: 2px; 
			top: 0px;
			font-size: .6em; 
			text-align: right;
			color: red; 
			border: 0px solid cyan; 
			display: inline-block ;
		}

		.textAlignWideRight
		{ 
			text-align: left;
		}

		.header, .wideOnly
		{
			display: none;
		}

		.headerIB, .wideOnlyIB
		{
			display: none;
		}
	    
	    .header-r, .narrowOnly
	    {
	        display: block;
	    }
	    
		.headerMenuBtn
		{
		    position: absolute; right: 10px; top: 5px;
		}

	    .responsiveMenu
	    {
	    	width: 185px;
	    	background-color: white;
	        display: block;
	    }

	    .instructionGrid
	    {
/* 	    	width: 80%; */ 
/* 	    	margin-left: 10%; */ 
	    	margin-right: auto; 
	    	border: transparent; 
	    	background: transparent;
	    }
	}
	
	@media all and (max-width : 450px) 
	{
		div[id*='mediaSelector']::after
		{ 
			content: "max-width 450px"
		}
		
		.banner2Text
		{
			position: absolute; 
			right: 2px; 
			top: 0px;
			font-size: .6em; 
			text-align: right;
			color: red; 
			border: 0px solid cyan; 
			display: inline-block ;
		}

		.textAlignWideRight
		{ 
			text-align: left;
		}
	
		#menuFormR\:responsiveMenu a
		{
			font-size: 1.0em !important;
			text-decoration: none;
			padding: 0px;
		}
	}
	
	@media all and (max-width : 375px) 
	{
		
		.banner2Text
		{
			position: absolute; 
			right: 2px; 
			top: 0px;
			font-size: .6em; 
			text-align: right;
			color: red; 
			border: 0px solid cyan; 
			display: inline-block ;
		}
	
	
	}
	
	@media all and (max-width : 320px) 
	{
		div[id*='mediaSelector']::after
		{ 
			content: "max-width 320px"
		}

		.textAlignWideRight
		{ 
			text-align: left;
		}
	
		.statusLoadingImage
		{
			width: 200px;
		}

		#menuFormR\:responsiveMenu a
		{
			font-size: 1.0em !important;
			text-decoration: none;
			padding: 0px;
		}
		
		.menuItem
		{
			margin-top: 3px;
		}
		
		.menuLink
		{
			font-size: .6em !important;
			text-decoration: none;
			padding-left: 0;
		}
	
		.banner
		{
			display: none;
		}
		
		.banner2Text
		{
			position: absolute; 
			right: 2px; 
			top: 0px;
			widthx: 80%; 
			font-size: .5em; 
			max-widthx: 850px; 
			text-align: right;
			color: red; 
			border: 0px solid cyan; 
			display: inline-block ;
		}
	
	    .instructionGrid
	    {
/* 	    	width: 100%; */ 
	    	margin-left: 0%; 
	    	margin-right: auto; 
	    	border: transparent; 
	    	background: transparent;
	    }

		.listboxMax
		{
	        width: 255px ;
	    }

		.listboxMax2
		{
	        width: 232px ;
	    }
/* 
		li[id*='registerForm:adRadioSource_0']::after
	    {
	    	content: 'How did you hear about SM | SMX' ;
	    }
 */	
 
 		.passwordField
 		{
 			width: 100%;
 		}

	    .rightcolumn
	    {
	    	padding-left: 0;
	    	display: block;
	    	float: none;
	    }
	}

	@media all
	{
		.sectionSeparator
		{
			display: block; 
			height: 1px; 
			background: #87CEFF; 
			margin-top: 15px; 
			margin-bottom: 5px; 
			border: 0px;
		}
	}
/* 	
	@media all and (min-width: 36em)
	{
		.sectionSeparator
		{
			display: block; 
			height: 1px; 
			background: #87CEFF; 
			margin-top: 15px; 
			margin-bottom: 5px; 
			border: 0px;
		}
	}
 */	
	@media all
	{
		.ui-panelgrid .ui-grid-responsive .ui-grid-row
		{
  			border-top: none;
		}
	}
		
	@media all
	{
		.searchButtonLink
		{
		    width: 45px;
		    height: 32px;
		    display: block;
		    padding-top: 7px;
		}
		
		.searchButton
		{
		    padding-left: 14px;
		    color: white;
		    font-size: 1.1em;
		}
	}
/* 	
	@media all and (max-width: 35em)
	{
		.searchButtonLink
		{
		    width: 45px;
		    height: 25px;
		    display: block;
		    padding-top: 7px;
		}
		
		.searchButton
		{
		    padding-left: 14px;
		    color: white;
		    font-size: 1.1em;
		}
	}
 */