* {
    margin: 0px;
    padding: 0px;
}
html, body {
    font-family: Arial, Helvetica, Sans-serif;
    color: #363636;
}
img {
    border: 0;
}
.pagebackground {
    background: #FFF url(../img/background.jpg) no-repeat top center;
}
.clear {
    clear: both;
}
#wrapper {
    width: 935px;
    margin: 0 auto;
    margin-top: 22px;
    background: #FFF;
}
#header {
    padding-bottom: 15px;
}
#logo {
    width: 194px;
    height: 39px;
    padding-top: 10px;
    padding-right: 10px;
    float: left;
    padding-bottom: 10px;
}
#footer {
    float: right;
    font-size: 10px;
    padding-bottom: 30px;
}
#body {
    padding-bottom: 44px;
}
#topnavlinks {
    float: left;
    padding-top: 28px;
    padding-left: 15px;
}
#topnavlinks li {
    display: inline;
    padding-right: 10px;
}
#topnavlinks a {
    color: #6699cc;
    font-size: 11px;
    text-decoration: none;
    font-weight: normal;
}
#subnavbar {
    background: #003366 url(../images/thenewwaytheworldworks.jpg) 99% 7px no-repeat;
    height: 22px;
}
#left {
    float: left;
    width: 153px;
    padding-left: 15px;
    padding-top: 21px;
}
#left li {
    list-style-type: none;
    padding-bottom: 9px;
}
#left a {
    color: #003366;
    font-size: 10px;
    text-decoration: none;
}
#right {
    float: left;
    width: 563px;
    border-left: 1px solid #CCC;
    padding-left: 15px;
    padding-right: 188px;
    padding-top: 12px;
    min-height: 350px;
}
#footer li {
    display: inline;
    font-weight: bold;
    padding-right: 9px;
}
#footer a {
    color: #666;
    text-decoration: none;
}
.footerlink {
    padding-right: 10px;
    font-weight: normal;
}
#footertop {
    padding-bottom: 16px;
    border-bottom: 1px solid #CCC;
    padding-left: 17px;
}
#footertop ul {
    padding-bottom: 10px;
}
#footerbottom {
    padding-left: 17px;
    padding-top: 10px;
}
#banner {
    background: url(../img/bannerbackground.jpg) no-repeat;
    width: 935px;
    height: 134px;
}
h1 {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    padding-top: 38px;
    padding-left: 183px;
}